body, html {
      height: 100%;
      margin: 0;
      font-family: Montserrat;
    }
    
main {
  display: flex;
  flex-direction: column;   /* importante */
  align-items: center;
}


.bandcamp-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}



.bandcamp-grid iframe {
  width: 100%;
  max-width: 350px;
  height: 470px;
}

@media (max-width: 700px) {
  .bandcamp-grid iframe {
    max-width: 100%;
  }
}


h1{
    font-family: Montserrat;
    font-weight: 900;
    text-align: center;   /* centra el texto */
    margin: 40px 0 20px;
}

.logo {
  display: block;   /* importante para centrar */
  margin: 51px auto;   /* centrado horizontal */
}

.linea-sombra {
      position: absolute;
      bottom: 7%;
      left: 0;
      width: 100%;
      height: 34%; 
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0) 100%);
      z-index: 1;
      pointer-events: none;
    }

    .footer-text {
  margin-top: 40px;        /* espacio después de los embeds */
  text-align: center;
  width: 100%;
}

.footer-text a {
  display: inline-block;
  margin: 0px auto 40px;
}

.footer-text p{
  font-size: 13px;
    color: #666;
    margin: 35px auto;
}


.scroll-zone {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;          /* mitad derecha aprox */
  height: 100%;
  background: transparent;
}

@media (min-width: 701px) {
  .scroll-zone {
    display: none;
  }
}

.cast {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 2rem;
  width: 100%;
  text-align: center; /* estilo créditos de película */
}



.actor {
  display: grid;
  grid-template-rows: auto auto; /* nombre / apellido */
}

.actor:nth-child(1) {
  transform: translateX(1.3ch);
}

.actor:nth-child(2) {
  transform: translateX(1.5ch);
}

.actor:nth-child(3) {
  transform: translateX(0.1ch);
}


.name {
  font-weight: 100;
}

.lastname {
  font-weight: 300;
}